.buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button {
	flex: 0 0 40px;
	cursor: pointer;
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #492465;
	color: #fff;
	transition: 0.3s;
}

.selected,
.button:hover {
	background: #000;
}

.nav {
	flex: 0 0 80px;
	background: #000;
	color: #fff;
	transition: 0.3s;
}

.nav:hover {
	cursor: pointer;
	background: #9460d0;
}