.info_block {
	display: grid;
	grid-template-areas:
		'bg bg bg'
		'photo info info'
		'status status status';
	grid-template-rows: repeat(2, 150px) 50px;
	grid-template-columns: minmax(150px, 150px) 1fr;
	gap: 30px;
}

.bg {
	grid-area: bg;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profilePhoto {
	overflow: hidden;
	position: relative;
	grid-area: photo;
}

.photo {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.input {
	opacity: 0;
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
}

.label {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, 0);
	width: 152px;
	height: 30px;
	cursor: pointer;
	background: #000;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	transition: 0.3s;
}

.label:hover {
	background: #492465;
}

.label_hide {
	top: 100%;
}

.info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name {
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}

.age {
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}

.city {
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}

.job {
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}