.messages {
	padding: 30px;
	grid-area: dialogs;
	display: grid;
	grid-template-rows: 1fr 120px;
	gap: 30px;
	background: #492465;
	border-radius: 20px;
}

.messages_wrapper {
	overflow: auto;
	display: grid;
	gap: 15px;
	max-height: 300px;
	padding-right: 10px;
}


.messages_wrapper::-webkit-scrollbar {
	width: 5px;
	background: #000;
}

.messages_wrapper::-webkit-scrollbar-thumb {
	background: #9460d0;
	border-radius: 5px;
}