.messages {
	grid-area: dialogs;
	position: relative;
	padding: 30px;
	display: grid;
	grid-template-rows: 1fr 120px;
	gap: 30px;
	background: #492465;
	border-radius: 20px;
}

.messages_wrapper>div {
	overflow: auto;
	display: grid;
	gap: 15px;
	max-height: 300px;
	padding-right: 10px;
}

.messages_wrapper>div::-webkit-scrollbar {
	width: 5px;
	background: #000;
}

.messages_wrapper>div::-webkit-scrollbar-thumb {
	background: #9460d0;
	border-radius: 5px;
}

.no_messages {
	opacity: 0.8;
	position: absolute;
	left: 50%;
	top: calc(50% - 50px);
	transform: translate(-50%, -50%);
	color: #fff;
}